@font-face {
	font-family:SkModernist;
	src:url(SkModernist.otf);
}
body{
	background-color: black; 
	background-image: ; 
	background-attachment: fixed;
	font-family: SkModernist;
	font-weight: ;
	color: black;
	margin: 0%;
}
footer{
	background-color: black;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
}
a:link {
	text-decoration: none;
	color: black ;
}
a:visited {
text-decoration: none;
color: black ;
}
a:hover {
text-decoration: none;
color:  black ;
background-color: ;
}
a:active {
text-decoration: none;
color:  black ;
}
/* Kintsugi.html*/
#titulo {
	width: 30%;
	margin: auto;
	margin-top: 12%;
	background-color: black;
}
#logo {
	border-color: black;
	width: 40%;
	float: left;
	position: relative;
	animation-name: logo;
	animation-duration: 2s ;
	animation-fill-mode: forwards;
}
@keyframes logo {
	0% { left: -100%; top:0%;}
	100% {left:40%; top:0%;}
}
.fuente {
	text-align: center;
	padding-left: 25%;
	padding-top: 0%;
	margin-top:0%;
	color: white;
	font-size: 500%;
	font-family: SkModernist;
	float: left;
	position: relative;
	animation-name: kintsugi;
	animation-duration: 2s ;
	animation-fill-mode: forwards;
}
@keyframes kintsugi {
	0% { right: -100%; top:0%;}
	100% {right:0%; top:0%;}
}

/*Inicio.html*/
#contenedor{
	margin: 0%;
	height:100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index:1;
	background-color: white;
}
#menu {
	margin: 0%;
	width: 100%;
	background-color: black;
}
.topnav {
  background-color: black;
  overflow: hidden;
  	display: flex;
	align-items: center;
	text-align: left;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.topnav a:hover {
  border-bottom: 3px solid white;
}
.topnav a.active {
  border-bottom: 3px solid white;
}
.mynav ul {
	margin: 0%;
	width: 60%;
	padding-left:4%;
	margin: 0%;
	background-color: black;
	display: flex;
	justify-content: center;
}
.mynav a {
	color:  white;
	text-decoration: none;
	padding: 7px 15px;
}
.kintsugi{
	width: 15%;
}

#contenido {
	background-color: white;
	padding-top: 2%;
	padding-bottom: 10%;
}
#pie {
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
#tablapie {
	margin-top: 1%;
	display: block;
	border: white  solid;
	border-radius: 15px;

}
.imagen {
	width: 8%;
	display: ;
	padding-left: 12%;
	margin-left: auto;
	margin-right: auto;
}

/* manifiesto.html */
#manifiesto {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.manifiesto2 {
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
}







